/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:#0B1120;
    color:#F8FAFC;
    min-height:100vh;

}

.container{

    width:100%;
    min-height:100vh;

}

/* Nice Scrollbar */

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-thumb{

    background:#3B82F6;
    border-radius:10px;

}

::-webkit-scrollbar-track{

    background:#111827;

}

.download-btn{

    background:linear-gradient(135deg,#2563EB,#06B6D4);

    color:white;

    border:none;

    padding:14px 25px;

    border-radius:12px;

    cursor:pointer;

    font-size:16px;

    font-weight:600;

    transition:.3s;

}

.download-btn:hover{

    transform:translateY(-3px);

    box-shadow:0 10px 20px rgba(59,130,246,.35);

}